body {
    background-image: url("../Bilder/WhatsApp Bild 2025-06-25 um 19.22.12_191f561f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    background-position: center;
    margin: 0;
    z-index: -5;
}
body { text-align: center; background-color: #000;
}
img
{
    margin-top: 50px;
    z-index: -1;
}

body, html {
    height: 100%;
    margin: 0;
}

.mappeRaum3 {
    margin-top: 1000px;
    margin-left: 400px;
    width: 500px;
    height: 300px;

}