body {
    background-image: url("../Bilder/Tür.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    background-position: center;
    margin: 0;
    z-index: -5;
}
body { text-align: center; background-color: #000;
}
img
{
    margin-top: 50px;
    z-index: -1;
}

body, html {
    height: 100%;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.invisible-button {
    background: none;
    position: absolute;
    top: 50px;
    left: 60px;
    border: none;
    width: 550px;
    height: 500px;
    cursor: pointer;
    z-index: 1;
    /* Optional: Für Debugging den Button kurz sichtbar machen */
    /* background-color: rgba(0, 0, 0, 0.1); */
}