body {
    background-image: url("../Bilder/WhatsApp Bild 2025-06-25 um 19.22.12_191f561f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    background-position: center;
    margin: 0;
    z-index: -5;
}
body { text-align: center; background-color: #000;
}
img
{
    margin-top: 50px;
    z-index: -1;
}

body, html {
    height: 100%;
    margin: 0;
}

.mappeRaum3 {
    margin-top: 1000px;
    margin-left: 400px;
    width: 500px;
    height: 300px;

}
.MappeButton {
    position: fixed;
    top: 850px;
    left: 425px;
    height: 300px;
    width: 300px;
    color: transparent;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 20;
}

.computerButton {
    position: fixed;
    top: 100px;
    left: 300px;
    width: 1300px;
    height: 600px;
    color: transparent;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 20;
}
#textAnzeige {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0f0;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 10;
}

#output {
    top: 100px;
    width: 1750px;
    min-height: 60px;
    color: #0f0;
    font-size: 1rem;
    padding: 20px 30px;
    border-radius: 12px;
    text-align: center;
    z-index: 2;
}